body {
  background: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}

.container {
  text-align: center;
  border: 1px solid #f0e7e0;
  border-radius: 10px;
  padding: 30px 60px;
  margin-top: 35px;
  max-width: 800px;
  background: white;
}

.submit {
  background: #96c7c1;
  border: #96c7c1;
  font-family: "Indie Flower", cursive;
  font-family: "Quicksand", sans-serif;
  color: #fff;
}

.justify-content-between {
  padding-top: 70px;
  padding-bottom: 70px;
}

#icon {
  position: relative;
  top: -27px;
}

#actualTemp {
  font-family: "Indie Flower", cursive;
  font-family: "Quicksand", sans-serif;
  font-size: 85px;
}

#weather-unit {
  font-family: "Indie Flower", cursive;
  font-family: "Quicksand", sans-serif;
  position: relative;
  font-size: 23px;
  top: -41px;
}

#celcius {
  text-decoration: none;
  color: grey;
}

#cityDate {
  font-family: "Indie Flower", cursive;
  font-family: "Quicksand", sans-serif;
  font-size: 32px;
  line-height: 0.8;
  text-align: right;
}

#actualCity {
  font-family: "Indie Flower", cursive;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  color: #96c7c1;
  font-size: 32px;
  line-height: 1;
  text-align: right;
}

#blockDate {
  font-size: 18px;
  text-align: right;
  line-height: 1;
}

.humidity {
  color: #96c7c1;
}

#percent {
  color: #96c7c1;
}

.wind {
  color: #96c7c1;
}

#wind-speed {
  color: #96c7c1;
}

.col-4 {
  font-size: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#nextDays {
  padding-bottom: 30px;
  padding-right: 15px;
  padding-left: 15px;
}

.temp-min {
  color: #96c7c1;
}

.col-3 {
  border: 1px solid #96c7c1;
  border-radius: 4px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 18px;
  font-family: "Indie Flower", cursive;
  font-family: "Quicksand", sans-serif;
}

footer {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

#footerName {
  font-family: monospace;
  padding-bottom: 10px;
  color: grey;
  text-decoration: none;
}

#footerName:hover {
  text-decoration: underline;
  color: #96c7c1;
}

.gitHubLink {
  font-family: monospace;
  text-decoration: none;
  color: #96c7c1;
}

.gitHubLink:hover {
  text-decoration: underline;
  color: grey;
}
